<footer>
    <div class="contact">
        <form action="#">
            <input type="text" placeholder="Name">
            <br>
            <input type="text" placeholder="Email">
            <br>
            <input type="text" placeholder="Message">
            <br>
            <Button type="submit">Contact Us</Button>
        </form>
    </div>
    <div class="footer_info">
        <h4>Gen-Z The new Generation fashion brand.</h4>
        <h6>Founded in 2023, Gen-Z® is a lifestyle fashion brand that makes creative, distinctive fashion for the trendy, contemporary Indian. Gen-Z was created on the principle of creating impact through innovation, honesty and thoughtfulness.</h6>
    </div>
</footer>